:root{
  --primary-color: #f6c90e;
  --dark-color: #252c33;
  --gray-color: #3a4750;
  --white-color: #eee;

}
body{
  width: 100%;
  background-color: var(--dark-color);
  color: var(--white-color);
  box-sizing: border-box;
  overflow-x: hidden;
}

.container{
  margin: 0 auto;
  max-width: 960px;
  
}

.hotels{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

.detail-container{
  background-color: var(--gray-color);
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  padding: 36px;
  border-radius: 24px;
}

.detail-container > img {
  width: 500px;
  height: auto;
  border-radius: 32px;
}

.detail-form{
  margin: 0 auto;
  margin-top: 32px;
  width: 500px;
  background-color: var(--gray-color);
  padding: 32px;
  border-radius: 24px;
  text-align: center;
}

.like-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
